html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--jet);
}

:root {
  --jet: #2e2e2e;
  --dark-liver: #4c4a52;
  --rythm: #79799a;
  --blue-yonder: #5b7395;
  --independence: #494562;
  --platinum: #e2e2e2;
  --blue: #2691d9;

  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--jet);
}
